<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xiaoshuoyuedu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B40D5067177440E100A0F740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40D5075177440E200A0F740</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EF672A1774406400F54681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EF674A1774406500F54681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
